<nav class="navbar no-bottom-margin navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></button>
      <a class="navbar-brand" href="#"><kbd>{{appname}}</kbd></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!(user | async)?.uid">
        <a href="#" routerLink="/signup">
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li *ngIf="!(user | async)?.uid">
        <a href="#" routerLink="/login">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li *ngIf="(user | async)?.uid">
          <a>
            <span class="glyphicon glyphicon-user"></span> Hello {{name}}!</a>
        </li>
      <li *ngIf="(user | async)?.uid">
          <a role="button" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
    </ul>
    </div>
  </div>
</nav>