<div class="container-fluid">
  <div class="row" style="margin-top: 5%">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <form #signupForm="ngForm">
        <div class="input-group" style="margin-top: 1%;margin-bottom: 1%">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input id="email" type="text" [(ngModel)]="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="input-group" style="padding: 1%;position: absolute;
        right: 4%;">
            <button [disabled]="!signupForm.form.valid" class="btn btn-default"
             (click)="signUp()" type="submit">Sign up</button>
          </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>